
body
{
    background: rgb(20, 63, 150);
    text-align: left;
    margin-left: 30%;
    margin-right: 30% ;
    padding: 20px;
}

#naglowek
{
    border: solid medium rgb(238, 237, 237);
    border-radius: 10px;
    
    
}

.przycisk
{
    color: rgb(240, 248, 240);
    background:none;
    width: 200px;
    padding: 20px;
    border: solid medium white;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;

}

.przycisk:hover
{
    background: rgb(59, 35, 201);
}

.przycisk::before
{

}